# Data Cleaning

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_csv('IT Salary Survey EU 2018.csv')

In [ ]:
data.head()

             Timestamp   Age  ... Company size   Company type
0  14/12/2018 12:41:33  43.0  ...     100-1000        Product
1  14/12/2018 12:42:09  33.0  ...       50-100        Product
2  14/12/2018 12:47:36  32.0  ...        1000+        Product
3  14/12/2018 12:50:15  25.0  ...        1000+        Product
4  14/12/2018 12:50:31  39.0  ...     100-1000  Ecom retailer

[5 rows x 14 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 14 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Timestamp                           765 non-null    object
 1   Age                                 672 non-null    float64
 2   Gender                              751 non-null    object
 3   City                                736 non-null    object
 4   Position                            737 non-null    object
 5   Years of experience                 732 non-null    float64
 6   Your level                          743 non-null    object
 7   Current Salary                      750 non-null    float64
 8   Salary one year ago                 596 non-null    float64
 9   Salary two years ago                463 non-null    float64
 10  Are you getting any Stock Options?  742 non-null    object
 11  Main language at work               750 non-null    object
 12  Company size                        750 non-null    object
 13  Company type                        730 non-null    object
dtypes: float64(5), object(9)
memory usage: 83.8+ KB

### Remove NaN values

In [ ]:
data=data.fillna('')

### 1. Leave only necessary columns

In [ ]:
data2= data[['Age','Gender','City','Position','Years of experience','Your level','Current Salary','Salary one year ago','Salary two years ago']]

In [ ]:
data2.head()

  Age Gender     City  ... Current Salary Salary one year ago Salary two years ago
0  43      M  München  ...          77000               76200                68000
1  33      F  München  ...          65000               55000                55000
2  32      M  München  ...          88000               73000                54000
3  25      M  München  ...          78000               55000                45000
4  39      M  München  ...          69000               60000                52000

[5 rows x 9 columns]

### 2. Filter by columns

In [ ]:
data2.info

<bound method DataFrame.info of     Age Gender     City  ... Current Salary Salary one year ago Salary two years ago
0    43      M  München  ...          77000               76200                68000
1    33      F  München  ...          65000               55000                55000
2    32      M  München  ...          88000               73000                54000
3    25      M  München  ...          78000               55000                45000
4    39      M  München  ...          69000               60000                52000
..   ..    ...      ...  ...            ...                 ...                  ...
760  40      M     Köln  ...          44000               40000                40000
761          M     Köln  ...          45000               40000                40000
762          M     Köln  ...          45000               40000                40000
763                      ...
764  31      F  München  ...         110000

[765 rows x 9 columns]>

After filtering the rows with empty columns we have 368 rows left. The original data set contained 765 rows

### Position Column

In [ ]:
data2['Position'].unique()

array(['QA Ingenieur', 'Senior PHP Magento developer ',
       'Software Engineer', 'Senior Frontend Developer', 'UX Designer',
       'Project Manager', 'Senior Android Developer',
       'Data science team lead', 'Test Automation Engineer',
       'Frontend Developer', 'Senior Full-stack .Net Developer',
       'QA Lead', 'Front-end engineer', 'Software Developer',
       'QA Test Engineer', 'QA Manager', 'CTO', 'Cloud Consulting', 'QA',
       'Frontend Engineer', 'Head of IT', 'Senior Software Engineer',
       'Operations manager', 'Product Manager',
       'Software engineer ( React/React-native )', 'iOS Developer ',
       'Senior DevOps', 'C# Developer', 'ERP/BI Specialist',
       'Full stack developer', 'Systems Administrator',
       'Senior Software Developer', 'C++ developer', 'PM',
       'Android Developer', 'Software Architect',
       'Embedded Software Engineer', 'iOS developer', 'Data Engineer',
       'iOS Developer', 'PHP Developer', 'Ruby developer',
       'Embedded engineer', 'Java Fullstack Developer',
       'Mobile App Developer', 'Scala Developer', 'DevOps', 'Consultant',
       'BA/PM', 'DevOps Engineer', 'C++ Software Enginеer',
       'Automation QA', 'Java Developer', 'Backend Developer',
       'Frontend developer', 'SDET', 'Technical Lead', 'FrontEnd dev',
       'Technical product manager', 'Javascript software developer', '',
       'Graphic Designer', 'Manager', 'Senior/Lead Developer',
       'Senior QA', 'Technical Product Manager', 'Mobile Lead',
       'Front-end developer', 'Data scientist', 'Head of Product ',
       'Research Engineer', 'PHP Backend Developer', 'SW Developer',
       'Senior Engineer (PHP)', 'webdev', 'Web Developer ', 'QA ',
       'Machine Learning Engineer', 'Data Scientist',
       'Principal Software Engineer', 'FrontEnd Developer',
       'Senior Javascript Engineer', 'Engineering Manager', 'SDE',
       'Python dev', 'QA Engineer ', 'Android developer ', 'Web Designer',
       'Senior Software Engineer ', 'Senior Backend Developer',
       'Agile coach', 'MTS', ' .Net Developer', 'Python developer',
       'Embedded Developer', '.NET developer',
       'Seniour software developer', 'Junior IT Manager',
       'Full stack developer ', 'IT Project Manager', 'Business Analyst',
       'fullstack developer', 'Frontent Developer',
       'Senior Java Developer', 'Scala developer', 'UX/UI designer',
       'Senior Java', 'SRE', 'developer', 'DBA', 'Computational Linguist',
       'SAP Basis Administrator', 'Programmierer/Consultant',
       'Full stack engineer', 'Software engineer',
       'Database Administrator', 'Software Engineer JavaSctipt',
       'Developer', 'Head of Engineering', 'product manager', 'Angular',
       'Full Stack Developer', 'Mobile developer',
       'Software Engineer (Android)', 'SAP Consultant', 'QA Engineer',
       'Computer Vision Engineer', 'Digital Project Manager',
       'Backend developer', 'Machine Learning Engineet',
       'Lead Software Engineer', 'Head of Development', '.net',
       'IT Consultant', 'Embedded SW Developer', 'C++ Developer ',
       'System Engineer', 'Marketing Manager', 'Software developer',
       'Erlang Developer', 'backend developer', 'Engineer', 'IT admin',
       'Senior Ruby Developer', 'Senior Backend Engineer',
       'Senior software engineer', 'Senior Data Scientist',
       'Fullstack JS', 'Java developer', 'Principal Engineer ', 'PHP Dev',
       'Big Data Engineer', 'C++ Developer', 'Java Developer ',
       'Sysadmin', 'Low level software developer', 'Full-stack Developer',
       'Site Reliability engineer ', 'Project manager',
       'Software Engineer ', 'Architect', 'Sales ops team lead ',
       'Manual QA', 'Head of BI', 'Senior PHP Developer', 'Fullstack',
       'Team Lead', 'PD', 'IT Berater', 'Java & JS Developer',
       'Java developer ', 'Frontend developer ', 'DevOps engineer ',
       'web developer', 'Senior Software engineer C++',
       'network engineer ', 'C# Developer ', 'Senior Sys Admin',
       'Senior PHP developer', 'QA Consultant ', 'TA Engineer',
       'Senior software engineer ', 'Java script', 'Frontend',
       'Lead DevOps', 'Hardware Engineer ', 'System Administrator',
       'Python Developer', 'Javascript Developer in Test', 'CEO',
       'Front-end developer ', 'DevOps Architect ', 'BI Developer',
       'SEM Manager', 'IOS developer ', 'Lead developer',
       'Software Engineer 2(Frontend)', 'QA Automation Engineer',
       'Systems engineer', 'Oracle Developer', 'Oracle Pl/SQL Developer',
       'BI developer', 'Senior JS Enigneer', 'Perl/Java Developer',
       'Python Test Automation Engineer', 'Senior .Net developer',
       'C++ Engineer', 'IT Administration', 'iOS developer ',
       'Scala\\Java', 'Full-Stack Web Developer', 'Go Developer',
       'ios developer', 'Senior Fullstack', 'Java Software Engineer ',
       'Senior Web Developer ', 'Java/JS Developer',
       'Senior Software Engineer (Data Engineer)', 'IT-Consultant',
       'System administrator', 'Team lead PHP', 'Web Analytics Manager',
       'Deep Learning Researcher (PHD)', 'Software Architekt ',
       'Solution Engineer', 'Senior SQL Server DBA/Developer',
       'QA Automation', 'Senior Software Ingenieur Java',
       '.net developer ', 'Lead Architect', 'Quality engineer', 'Devops',
       'Scrum Master', 'Software Test Engineer', 'Sr. JS Developer',
       'Javascript Developer', 'SAP Business Analyst',
       'Business Intelligence Analyst', 'Product manager',
       'Software Developer (Python Backend)', 'System administrator ',
       'Designer', 'CTO ', 'Lead Developer', 'java fullsteck developer',
       'Unreal Engine Developer, System Architect', 'Tech lead',
       'JavaScript Developer', 'Software engineer ',
       'Senior iOS Developer', 'Test Engineer', 'DB Developer',
       'Ruby Developer', 'SAP Consulter/ABAP Developer ',
       'Business Analyst/RE', 'C++ sr. s/w dev', 'Android dev',
       'Senior Web Deleloper', 'Automation Test Engineer', 'SSE',
       'Web Developer', 'Senior .Net Developer', 'Front End Engineer',
       'Werkstudent Testautomatisierung', 'ios вумудщзук',
       'iOS Developwr', '.NET Developer', 'C++ Software Engineer',
       'Software Development Engineer', 'Engineering consultant',
       'Android developer', 'java developer', 'System Architect',
       'PHP Full Stack Developer', 'System Analyst', 'DevOps engineer',
       'Senior quant', 'Data Developer', 'Data Processing Specialist',
       'Senior Software engineer', 'Senior Automation Test Engineer',
       'Operations', 'Golang developer', 'Softwaredeveloper',
       'Front End developer', 'DevOps (MS Stack)', 'Head of Data Science',
       'DevOps Architect', 'Sr. Engineer', 'qa ta architect',
       'Head of Software Engineering ', 'Quality Engineer', 'Java dev',
       'PHP developer', 'Staff Technical Product Manager',
       'PHP Tech Lead', 'UI Designer', 'Pyhon developer',
       'C++ Software Developer', 'Java Team Lead', 'Quality assurance',
       'DB ', 'Fullstack Engineer', 'Senior automation qa',
       'QA automation ', 'PL SQL / C#', 'Senior Consulter', 'devops',
       'Cloud Architect', 'SharePoint Developer', 'Big Data Developer ',
       'DWH expert', 'Senior Full stack developer', 'Android dev.',
       'Senior Embedded Developer', 'C#.net Developer', 'It security ',
       'Deep Learning Engineer', 'Application Engineer ',
       'Software Engineer (java)', 'Senior Data Engineer',
       'android developer', 'PHP Symfony', 'C#',
       'Java Full-Stack Developer', 'IT Infrastructure consultant', '1С',
       'Hardware Developer', 'Software Tester', 'Web-Entwickler',
       'Architekt', 'ML/Research (30 hours weekly)',
       'Electrical Engineer', 'Research Scientist (AI)',
       'Senior Research Engineer', 'Sr project manager',
       '.net c# developer', 'C++ Lead Developer', 'Network engineer',
       'data scientist', 'Security Researcher', 'team lead',
       'Senior javascript developer', 'Senior .NET Engineer',
       'Data Science Team Lead', 'Product Security Engineer',
       'Php developer', 'Javascript Engineer', 'IT recruiter ',
       'NAV Developer ', 'C++  developer', 'Solution Architect',
       'Senior iOS developer', 'System Administrator (Windows)',
       'Lead Java Developer', 'DWH Developer', 'Software Developer ',
       'Backend Engineer', 'Senior Software Testing Engineer',
       'Full-stack developer', 'qa', 'Sap developer', 'Full stack',
       'Senior Sotfware Engineer (Typescript/Javascript)', 'c# developer',
       'Data analyst', 'c++', '.net developer', 'Projectingenieur',
       'Gruppenleiter Testing', ' Java Developer', 'Teamlead',
       'Director of Engineering', 'Solutions architect', 'PCB Designer',
       'IT специалист', 'Front End Developer ', 'Associate IT Consultant',
       'C# dev', 'Java Script developer', 'BI Consultant',
       'Senior Tech recruiter', 'Computer Vision Intern',
       'Devops Engineer', 'Software tester', 'Producer',
       'Senior QA Engineer', 'Senior Java developer', 'SAP Developer',
       'Sr. Database Entwickler (Oracle/Java)', '32',
       'Lead software engineer', 'Project Manager ', 'Softwareentwickler',
       'IT Engineer', 'Java Developer junior', 'E.g. C# Developer', 'Pm '],
      dtype=object)

Sort the IT positions of the workers into 5 categories 

1. Backend Developers 
2. Frontend Developers
3. Full stack Developers
4. Data Scientists & Engineers
5. UX designers

In [ ]:
fudev=['FullStack_Developer','Full Stack','fullstack','Full stack','Fullstack','Full-stack','fullsteck']
bdev= ['Devops Engineer','Senior software engineer ','System Engineer','Senior software engineer','Computer Vision','Mobile developer','SharePoint Developer','Android dev','C++ sr. s/w dev','Java','Android','Oracle Pl/SQL Developer','Senior .Net developer','Go Developer','Senior PHP developer','Hardware','SharePoint','ios','C++','Scala','IOS','Backend',' .Net Developer','Senior/Lead Developer','Scala Developer','Mobile App Developer','PHP Developer','Android Developer','C++ developer','BackEnd_Developer','Software','Java','QA','SW','Automation QA','Embedded engineer','Senior Software Engineer','DevOps','Senior DevOps','Test Automation Engineer','Senior PHP Magento developer ','E.g. C# Developer','Low level software developer','QA Ingenieur','Ruby','ruby','Java Developer ','C# Developer ','DevOps Architect ','Quality engineer','Senior Automation Test Engineer','Product Security Engineer','Lead Java Developer','Solution Engineer','Software Engineer','Erlang Developer','Oracle Developer','Lead developer','Softwaredeveloper','Senior Automation Test Engineer','System Architect','.NET','iOS','C++ Software','Python','python','Pyhon','Senior Automation Test Engineer','backend','Golang','Computer Vision Intern','Php','C#','Senior Java Developer','Java Developer','IT Engineer','.net developer','.net c# ','#c','Backend Developer']
fdev=['Senior JS Enigneer','Front-end','Sr. JS Developer','web','FrontEnd_Developer','Front End Developer ','Front End developer','Front End Engineer','Front-end developer ','FrontEnd Developer','Frontent Developer','FrontEnd dev','Front-end developer','webdev','Senior Android Developer','Frontend','Web Developer','frontend','Javascript Developer']
datas=['Senior SQL Server DBA/Developer','Business Analyst','Data Scientist','Data','data','Data science','data scientist','Data Science','Data analyst','Data Developer','Data Processing']
ux=['UX_Designer','UX_Designer','Designer','UX','ux','Ux','UI Designer','UX/UI designer','Graphic Designer','Designer','UI Designer','PCB Designer']

In [ ]:
data2['Position'].unique()

array(['QA Ingenieur', 'Senior PHP Magento developer ',
       'Software Engineer', 'Senior Frontend Developer', 'UX Designer',
       'Project Manager', 'Senior Android Developer',
       'Data science team lead', 'Test Automation Engineer',
       'Frontend Developer', 'Senior Full-stack .Net Developer',
       'QA Lead', 'Front-end engineer', 'Software Developer',
       'QA Test Engineer', 'QA Manager', 'CTO', 'Cloud Consulting', 'QA',
       'Frontend Engineer', 'Head of IT', 'Senior Software Engineer',
       'Operations manager', 'Product Manager',
       'Software engineer ( React/React-native )', 'iOS Developer ',
       'Senior DevOps', 'C# Developer', 'ERP/BI Specialist',
       'Full stack developer', 'Systems Administrator',
       'Senior Software Developer', 'C++ developer', 'PM',
       'Android Developer', 'Software Architect',
       'Embedded Software Engineer', 'iOS developer', 'Data Engineer',
       'iOS Developer', 'PHP Developer', 'Ruby developer',
       'Embedded engineer', 'Java Fullstack Developer',
       'Mobile App Developer', 'Scala Developer', 'DevOps', 'Consultant',
       'BA/PM', 'DevOps Engineer', 'C++ Software Enginеer',
       'Automation QA', 'Java Developer', 'Backend Developer',
       'Frontend developer', 'SDET', 'Technical Lead', 'FrontEnd dev',
       'Technical product manager', 'Javascript software developer', '',
       'Graphic Designer', 'Manager', 'Senior/Lead Developer',
       'Senior QA', 'Technical Product Manager', 'Mobile Lead',
       'Front-end developer', 'Data scientist', 'Head of Product ',
       'Research Engineer', 'PHP Backend Developer', 'SW Developer',
       'Senior Engineer (PHP)', 'webdev', 'Web Developer ', 'QA ',
       'Machine Learning Engineer', 'Data Scientist',
       'Principal Software Engineer', 'FrontEnd Developer',
       'Senior Javascript Engineer', 'Engineering Manager', 'SDE',
       'Python dev', 'QA Engineer ', 'Android developer ', 'Web Designer',
       'Senior Software Engineer ', 'Senior Backend Developer',
       'Agile coach', 'MTS', ' .Net Developer', 'Python developer',
       'Embedded Developer', '.NET developer',
       'Seniour software developer', 'Junior IT Manager',
       'Full stack developer ', 'IT Project Manager', 'Business Analyst',
       'fullstack developer', 'Frontent Developer',
       'Senior Java Developer', 'Scala developer', 'UX/UI designer',
       'Senior Java', 'SRE', 'developer', 'DBA', 'Computational Linguist',
       'SAP Basis Administrator', 'Programmierer/Consultant',
       'Full stack engineer', 'Software engineer',
       'Database Administrator', 'Software Engineer JavaSctipt',
       'Developer', 'Head of Engineering', 'product manager', 'Angular',
       'Full Stack Developer', 'Mobile developer',
       'Software Engineer (Android)', 'SAP Consultant', 'QA Engineer',
       'Computer Vision Engineer', 'Digital Project Manager',
       'Backend developer', 'Machine Learning Engineet',
       'Lead Software Engineer', 'Head of Development', '.net',
       'IT Consultant', 'Embedded SW Developer', 'C++ Developer ',
       'System Engineer', 'Marketing Manager', 'Software developer',
       'Erlang Developer', 'backend developer', 'Engineer', 'IT admin',
       'Senior Ruby Developer', 'Senior Backend Engineer',
       'Senior software engineer', 'Senior Data Scientist',
       'Fullstack JS', 'Java developer', 'Principal Engineer ', 'PHP Dev',
       'Big Data Engineer', 'C++ Developer', 'Java Developer ',
       'Sysadmin', 'Low level software developer', 'Full-stack Developer',
       'Site Reliability engineer ', 'Project manager',
       'Software Engineer ', 'Architect', 'Sales ops team lead ',
       'Manual QA', 'Head of BI', 'Senior PHP Developer', 'Fullstack',
       'Team Lead', 'PD', 'IT Berater', 'Java & JS Developer',
       'Java developer ', 'Frontend developer ', 'DevOps engineer ',
       'web developer', 'Senior Software engineer C++',
       'network engineer ', 'C# Developer ', 'Senior Sys Admin',
       'Senior PHP developer', 'QA Consultant ', 'TA Engineer',
       'Senior software engineer ', 'Java script', 'Frontend',
       'Lead DevOps', 'Hardware Engineer ', 'System Administrator',
       'Python Developer', 'Javascript Developer in Test', 'CEO',
       'Front-end developer ', 'DevOps Architect ', 'BI Developer',
       'SEM Manager', 'IOS developer ', 'Lead developer',
       'Software Engineer 2(Frontend)', 'QA Automation Engineer',
       'Systems engineer', 'Oracle Developer', 'Oracle Pl/SQL Developer',
       'BI developer', 'Senior JS Enigneer', 'Perl/Java Developer',
       'Python Test Automation Engineer', 'Senior .Net developer',
       'C++ Engineer', 'IT Administration', 'iOS developer ',
       'Scala\\Java', 'Full-Stack Web Developer', 'Go Developer',
       'ios developer', 'Senior Fullstack', 'Java Software Engineer ',
       'Senior Web Developer ', 'Java/JS Developer',
       'Senior Software Engineer (Data Engineer)', 'IT-Consultant',
       'System administrator', 'Team lead PHP', 'Web Analytics Manager',
       'Deep Learning Researcher (PHD)', 'Software Architekt ',
       'Solution Engineer', 'Senior SQL Server DBA/Developer',
       'QA Automation', 'Senior Software Ingenieur Java',
       '.net developer ', 'Lead Architect', 'Quality engineer', 'Devops',
       'Scrum Master', 'Software Test Engineer', 'Sr. JS Developer',
       'Javascript Developer', 'SAP Business Analyst',
       'Business Intelligence Analyst', 'Product manager',
       'Software Developer (Python Backend)', 'System administrator ',
       'Designer', 'CTO ', 'Lead Developer', 'java fullsteck developer',
       'Unreal Engine Developer, System Architect', 'Tech lead',
       'JavaScript Developer', 'Software engineer ',
       'Senior iOS Developer', 'Test Engineer', 'DB Developer',
       'Ruby Developer', 'SAP Consulter/ABAP Developer ',
       'Business Analyst/RE', 'C++ sr. s/w dev', 'Android dev',
       'Senior Web Deleloper', 'Automation Test Engineer', 'SSE',
       'Web Developer', 'Senior .Net Developer', 'Front End Engineer',
       'Werkstudent Testautomatisierung', 'ios вумудщзук',
       'iOS Developwr', '.NET Developer', 'C++ Software Engineer',
       'Software Development Engineer', 'Engineering consultant',
       'Android developer', 'java developer', 'System Architect',
       'PHP Full Stack Developer', 'System Analyst', 'DevOps engineer',
       'Senior quant', 'Data Developer', 'Data Processing Specialist',
       'Senior Software engineer', 'Senior Automation Test Engineer',
       'Operations', 'Golang developer', 'Softwaredeveloper',
       'Front End developer', 'DevOps (MS Stack)', 'Head of Data Science',
       'DevOps Architect', 'Sr. Engineer', 'qa ta architect',
       'Head of Software Engineering ', 'Quality Engineer', 'Java dev',
       'PHP developer', 'Staff Technical Product Manager',
       'PHP Tech Lead', 'UI Designer', 'Pyhon developer',
       'C++ Software Developer', 'Java Team Lead', 'Quality assurance',
       'DB ', 'Fullstack Engineer', 'Senior automation qa',
       'QA automation ', 'PL SQL / C#', 'Senior Consulter', 'devops',
       'Cloud Architect', 'SharePoint Developer', 'Big Data Developer ',
       'DWH expert', 'Senior Full stack developer', 'Android dev.',
       'Senior Embedded Developer', 'C#.net Developer', 'It security ',
       'Deep Learning Engineer', 'Application Engineer ',
       'Software Engineer (java)', 'Senior Data Engineer',
       'android developer', 'PHP Symfony', 'C#',
       'Java Full-Stack Developer', 'IT Infrastructure consultant', '1С',
       'Hardware Developer', 'Software Tester', 'Web-Entwickler',
       'Architekt', 'ML/Research (30 hours weekly)',
       'Electrical Engineer', 'Research Scientist (AI)',
       'Senior Research Engineer', 'Sr project manager',
       '.net c# developer', 'C++ Lead Developer', 'Network engineer',
       'data scientist', 'Security Researcher', 'team lead',
       'Senior javascript developer', 'Senior .NET Engineer',
       'Data Science Team Lead', 'Product Security Engineer',
       'Php developer', 'Javascript Engineer', 'IT recruiter ',
       'NAV Developer ', 'C++  developer', 'Solution Architect',
       'Senior iOS developer', 'System Administrator (Windows)',
       'Lead Java Developer', 'DWH Developer', 'Software Developer ',
       'Backend Engineer', 'Senior Software Testing Engineer',
       'Full-stack developer', 'qa', 'Sap developer', 'Full stack',
       'Senior Sotfware Engineer (Typescript/Javascript)', 'c# developer',
       'Data analyst', 'c++', '.net developer', 'Projectingenieur',
       'Gruppenleiter Testing', ' Java Developer', 'Teamlead',
       'Director of Engineering', 'Solutions architect', 'PCB Designer',
       'IT специалист', 'Front End Developer ', 'Associate IT Consultant',
       'C# dev', 'Java Script developer', 'BI Consultant',
       'Senior Tech recruiter', 'Computer Vision Intern',
       'Devops Engineer', 'Software tester', 'Producer',
       'Senior QA Engineer', 'Senior Java developer', 'SAP Developer',
       'Sr. Database Entwickler (Oracle/Java)', '32',
       'Lead software engineer', 'Project Manager ', 'Softwareentwickler',
       'IT Engineer', 'Java Developer junior', 'E.g. C# Developer', 'Pm '],
      dtype=object)

In [ ]:
positions=['UX_Designer','FullStack_Developer','BackEnd_Developer','FrontEnd_Developer','Data Scientist']

In [ ]:
for i in range(len(data2)):
  print(i)
  for x in range(len(ux)):
    if ux[x] in data2['Position'][i]:
      data2['Position'][i]="UX_Designer"
      print(data2['Position'][i])

  for y in range(len(fudev)):
    if fudev[y] in data2['Position'][i]:
      data2['Position'][i]="FullStack_Developer"
      print(data2['Position'][i])

  for t in range(len(bdev)):
    if bdev[t] in data2['Position'][i]:
      data2['Position'][i]="BackEnd_Developer"
      print(data2['Position'][i])
  
  for p in range(len(fdev)):
    if fdev[p] in data2['Position'][i]:
      data2['Position'][i]="FrontEnd_Developer"
      print(data2['Position'][i])
  
  for w in range(len(datas)):
    if datas[w] in data2['Position'][i]:
      data2['Position'][i]="Data Scientist"
      print(data2['Position'][i])

0
BackEnd_Developer
1
BackEnd_Developer
2
BackEnd_Developer
3
FrontEnd_Developer
4
UX_Designer
UX_Designer
UX_Designer
5
6
BackEnd_Developer
BackEnd_Developer
7
Data Scientist
8
BackEnd_Developer
9
FrontEnd_Developer
10
BackEnd_Developer
11
FullStack_Developer
12
BackEnd_Developer
13
FrontEnd_Developer
FrontEnd_Developer
14
BackEnd_Developer
15
BackEnd_Developer
16
BackEnd_Developer
17
BackEnd_Developer
18
FrontEnd_Developer
19
20
21
BackEnd_Developer
22
FrontEnd_Developer
23
24
BackEnd_Developer
25
26
FrontEnd_Developer
27
28
BackEnd_Developer
29
BackEnd_Developer
30
BackEnd_Developer
31
BackEnd_Developer
32
BackEnd_Developer
33
34
FullStack_Developer
35
36
BackEnd_Developer
37
BackEnd_Developer
BackEnd_Developer
38
39
40
BackEnd_Developer
BackEnd_Developer
41
BackEnd_Developer
42
FrontEnd_Developer
43
BackEnd_Developer
44
BackEnd_Developer
45
Data Scientist
46
BackEnd_Developer
47
BackEnd_Developer
48
BackEnd_Developer
BackEnd_Developer
49
BackEnd_Developer
50
FrontEnd_Developer
51
BackEnd_Developer
52
FullStack_Developer
53
BackEnd_Developer
54
BackEnd_Developer
BackEnd_Developer
55
BackEnd_Developer
BackEnd_Developer
56
BackEnd_Developer
57
58
BackEnd_Developer
59
60
BackEnd_Developer
61
BackEnd_Developer
62
BackEnd_Developer
BackEnd_Developer
63
BackEnd_Developer
64
BackEnd_Developer
65
BackEnd_Developer
66
BackEnd_Developer
67
FrontEnd_Developer
68
BackEnd_Developer
69
BackEnd_Developer
BackEnd_Developer
70
BackEnd_Developer
BackEnd_Developer
71
FrontEnd_Developer
72
73
BackEnd_Developer
74
BackEnd_Developer
BackEnd_Developer
75
76
FrontEnd_Developer
77
78
BackEnd_Developer
BackEnd_Developer
79
BackEnd_Developer
BackEnd_Developer
80
81
BackEnd_Developer
82
BackEnd_Developer
BackEnd_Developer
83
BackEnd_Developer
84
BackEnd_Developer
85
UX_Designer
UX_Designer
UX_Designer
86
87
FrontEnd_Developer
88
89
BackEnd_Developer
BackEnd_Developer
90
BackEnd_Developer
91
BackEnd_Developer
92
93
94
BackEnd_Developer
95
FrontEnd_Developer
96
BackEnd_Developer
97
FrontEnd_Developer
98
FrontEnd_Developer
FrontEnd_Developer
99
Data Scientist
100
Data Scientist
101
102
103
BackEnd_Developer
BackEnd_Developer
104
BackEnd_Developer
BackEnd_Developer
105
BackEnd_Developer
106
107
FrontEnd_Developer
FrontEnd_Developer
108
FrontEnd_Developer
109
BackEnd_Developer
BackEnd_Developer
110
BackEnd_Developer
111
112
FrontEnd_Developer
113
Data Scientist
Data Scientist
114
BackEnd_Developer
115
BackEnd_Developer
116
FrontEnd_Developer
117
BackEnd_Developer
BackEnd_Developer
118
119
120
BackEnd_Developer
121
BackEnd_Developer
122
BackEnd_Developer
BackEnd_Developer
123
UX_Designer
UX_Designer
UX_Designer
124
BackEnd_Developer
125
BackEnd_Developer
BackEnd_Developer
126
127
BackEnd_Developer
128
129

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

FrontEnd_Developer
130
BackEnd_Developer
BackEnd_Developer
131
BackEnd_Developer
132
BackEnd_Developer
BackEnd_Developer
133
134
BackEnd_Developer
135
136
137
FullStack_Developer
138
139
Data Scientist
Data Scientist
Data Scientist
140
FullStack_Developer
141
FrontEnd_Developer
142
BackEnd_Developer
BackEnd_Developer
143
BackEnd_Developer
144
BackEnd_Developer
BackEnd_Developer
145
BackEnd_Developer
146
BackEnd_Developer
147
BackEnd_Developer
BackEnd_Developer
148
UX_Designer
UX_Designer
149
BackEnd_Developer
BackEnd_Developer
150
151
152
153
BackEnd_Developer
154
155
BackEnd_Developer
156
157
Data Scientist
Data Scientist
158
159
BackEnd_Developer
BackEnd_Developer
160
FullStack_Developer
161
BackEnd_Developer
162
BackEnd_Developer
BackEnd_Developer
163
BackEnd_Developer
164
Data Scientist
165
BackEnd_Developer
166
FrontEnd_Developer
167
BackEnd_Developer
BackEnd_Developer
168
169
BackEnd_Developer
BackEnd_Developer
170
171
172
BackEnd_Developer
BackEnd_Developer
173
174
175
BackEnd_Developer
BackEnd_Developer
176
FullStack_Developer
177
BackEnd_Developer
178
BackEnd_Developer
BackEnd_Developer
179
BackEnd_Developer
BackEnd_Developer
180
BackEnd_Developer
181
BackEnd_Developer
182
FrontEnd_Developer
183
BackEnd_Developer
BackEnd_Developer
184
BackEnd_Developer
BackEnd_Developer
185
Data Scientist
186
BackEnd_Developer
BackEnd_Developer
187
188
BackEnd_Developer
BackEnd_Developer
189
BackEnd_Developer
190
BackEnd_Developer
BackEnd_Developer
191
BackEnd_Developer
BackEnd_Developer
192
BackEnd_Developer
193
194
BackEnd_Developer
BackEnd_Developer
195
196
197
198
FrontEnd_Developer
199
BackEnd_Developer
200
201
202
Data Scientist
203
Data Scientist
Data Scientist
204
205
BackEnd_Developer
206
BackEnd_Developer
BackEnd_Developer
207
BackEnd_Developer
BackEnd_Developer
208
209
BackEnd_Developer
210
BackEnd_Developer
211
BackEnd_Developer
212
BackEnd_Developer
BackEnd_Developer
213
BackEnd_Developer
214
215
216
BackEnd_Developer
BackEnd_Developer
217
BackEnd_Developer
218
BackEnd_Developer
BackEnd_Developer
219
BackEnd_Developer
BackEnd_Developer
220
BackEnd_Developer
221
BackEnd_Developer
BackEnd_Developer
222
Data Scientist
Data Scientist
223
BackEnd_Developer
224
FullStack_Developer
225
BackEnd_Developer
226
BackEnd_Developer
BackEnd_Developer
227
BackEnd_Developer
228
229
230
Data Scientist
231
BackEnd_Developer
232
BackEnd_Developer
BackEnd_Developer
233
BackEnd_Developer
234
BackEnd_Developer
BackEnd_Developer
235
236
BackEnd_Developer
BackEnd_Developer
237
238
BackEnd_Developer
239
FullStack_Developer
240
BackEnd_Developer
241
BackEnd_Developer
242
243
244
BackEnd_Developer
245
246
247
BackEnd_Developer
248
BackEnd_Developer
249
250
251
BackEnd_Developer
252
BackEnd_Developer
253
BackEnd_Developer
BackEnd_Developer
254
BackEnd_Developer
255
BackEnd_Developer
BackEnd_Developer
256
FullStack_Developer
257
BackEnd_Developer
BackEnd_Developer
258
259
260
261
262
BackEnd_Developer
BackEnd_Developer
263
BackEnd_Developer
BackEnd_Developer
264
FrontEnd_Developer
265
BackEnd_Developer
266
FrontEnd_Developer
FrontEnd_Developer
267
BackEnd_Developer
268
BackEnd_Developer
BackEnd_Developer
269
BackEnd_Developer
BackEnd_Developer
270
271
BackEnd_Developer
272
273
BackEnd_Developer
BackEnd_Developer
274
BackEnd_Developer
BackEnd_Developer
275
BackEnd_Developer
276
277
BackEnd_Developer
278
BackEnd_Developer
BackEnd_Developer
279
280
281
BackEnd_Developer
BackEnd_Developer
282
BackEnd_Developer
BackEnd_Developer
283
FrontEnd_Developer
284
BackEnd_Developer
285
BackEnd_Developer
286
BackEnd_Developer
287
BackEnd_Developer
288
BackEnd_Developer
BackEnd_Developer
289
BackEnd_Developer
BackEnd_Developer
290
BackEnd_Developer
BackEnd_Developer
291
Data Scientist
Data Scientist
292
293
FullStack_Developer
294
BackEnd_Developer
295
296
BackEnd_Developer
BackEnd_Developer
297
BackEnd_Developer
298
299
BackEnd_Developer
BackEnd_Developer
300
FrontEnd_Developer
FrontEnd_Developer
301
BackEnd_Developer
302
BackEnd_Developer
303
BackEnd_Developer
304
BackEnd_Developer
305
306
BackEnd_Developer
307
308
309
BackEnd_Developer
BackEnd_Developer
310
BackEnd_Developer
BackEnd_Developer
311
BackEnd_Developer
312
BackEnd_Developer
313
BackEnd_Developer
314
BackEnd_Developer
315
BackEnd_Developer
316
BackEnd_Developer
317
318
BackEnd_Developer
319
BackEnd_Developer
BackEnd_Developer
320
321
FrontEnd_Developer
FrontEnd_Developer
322
BackEnd_Developer
BackEnd_Developer
323
BackEnd_Developer
324
BackEnd_Developer
325
BackEnd_Developer
326
BackEnd_Developer
BackEnd_Developer
327
Data Scientist
Data Scientist
328
BackEnd_Developer
329
BackEnd_Developer
330
Data Scientist
Data Scientist
331
BackEnd_Developer
332
BackEnd_Developer
333
BackEnd_Developer
BackEnd_Developer
334
BackEnd_Developer
BackEnd_Developer
335
BackEnd_Developer
BackEnd_Developer
336
BackEnd_Developer
337
BackEnd_Developer
BackEnd_Developer
338
BackEnd_Developer
BackEnd_Developer
339
340
341
Data Scientist
342
Data Scientist
343
BackEnd_Developer
BackEnd_Developer
344
BackEnd_Developer
345
Data Scientist
Data Scientist
346
BackEnd_Developer
BackEnd_Developer
347
FrontEnd_Developer
348
BackEnd_Developer
BackEnd_Developer
349
BackEnd_Developer
BackEnd_Developer
350
FullStack_Developer
351
BackEnd_Developer
BackEnd_Developer
352
FrontEnd_Developer
353
BackEnd_Developer
BackEnd_Developer
354
BackEnd_Developer
355
BackEnd_Developer
BackEnd_Developer
356
BackEnd_Developer
357
358
359
BackEnd_Developer
BackEnd_Developer
360
BackEnd_Developer
361
362
BackEnd_Developer
363
364
BackEnd_Developer
365
BackEnd_Developer
366
367
Data Scientist
368
369
FullStack_Developer
370
371
372
BackEnd_Developer
BackEnd_Developer
373
BackEnd_Developer
BackEnd_Developer
374
375
BackEnd_Developer
376
BackEnd_Developer
377
BackEnd_Developer
378
BackEnd_Developer
BackEnd_Developer
379
Data Scientist
Data Scientist
Data Scientist
380
BackEnd_Developer
381
BackEnd_Developer
382
BackEnd_Developer
BackEnd_Developer
383
BackEnd_Developer
384
FrontEnd_Developer
385
386
BackEnd_Developer
387
388
389
390
BackEnd_Developer
391
FrontEnd_Developer
FrontEnd_Developer
392
BackEnd_Developer
BackEnd_Developer
393
Data Scientist
Data Scientist
Data Scientist
394
BackEnd_Developer
BackEnd_Developer
395
UX_Designer
UX_Designer
UX_Designer
396
397
398
BackEnd_Developer
BackEnd_Developer
399
400
BackEnd_Developer
401
BackEnd_Developer
BackEnd_Developer
402
UX_Designer
UX_Designer
UX_Designer
403
Data Scientist
Data Scientist
404
BackEnd_Developer
405
406
407
FullStack_Developer
408
BackEnd_Developer
409
BackEnd_Developer
410
BackEnd_Developer
411
BackEnd_Developer
412
BackEnd_Developer
BackEnd_Developer
413
414
415
BackEnd_Developer
BackEnd_Developer
416
BackEnd_Developer
417
BackEnd_Developer
BackEnd_Developer
418
BackEnd_Developer
419
BackEnd_Developer
420
421
422
423
424
BackEnd_Developer
BackEnd_Developer
425
BackEnd_Developer
426
427
428
429
BackEnd_Developer
430
BackEnd_Developer
431
432
BackEnd_Developer
433
BackEnd_Developer
BackEnd_Developer
434
Data Scientist
Data Scientist
Data Scientist
435
BackEnd_Developer
BackEnd_Developer
436
BackEnd_Developer
437
BackEnd_Developer
BackEnd_Developer
438
BackEnd_Developer
BackEnd_Developer
439
440
BackEnd_Developer
441
442
443
BackEnd_Developer
BackEnd_Developer
444
BackEnd_Developer
BackEnd_Developer
445
BackEnd_Developer
BackEnd_Developer
446
FrontEnd_Developer
447
BackEnd_Developer
BackEnd_Developer
448
BackEnd_Developer
449
Data Scientist
450
FrontEnd_Developer
451
452
FullStack_Developer
453
BackEnd_Developer
BackEnd_Developer
454
BackEnd_Developer
455
BackEnd_Developer
456
BackEnd_Developer
457
BackEnd_Developer
458
BackEnd_Developer
BackEnd_Developer
459
BackEnd_Developer
460
BackEnd_Developer
461
462
BackEnd_Developer
463
BackEnd_Developer
464
BackEnd_Developer
BackEnd_Developer
465
BackEnd_Developer
466
BackEnd_Developer
BackEnd_Developer
467
468
469
BackEnd_Developer
470
BackEnd_Developer
471
BackEnd_Developer
472
473
BackEnd_Developer
BackEnd_Developer
474
BackEnd_Developer
475
476
FullStack_Developer
477
478
BackEnd_Developer
BackEnd_Developer
479
480
BackEnd_Developer
481
BackEnd_Developer
482
BackEnd_Developer
483
484
485
BackEnd_Developer
BackEnd_Developer
486
BackEnd_Developer
487
Data Scientist
488
BackEnd_Developer
489
BackEnd_Developer
490
BackEnd_Developer
491
Data Scientist
Data Scientist
492
Data Scientist
493
BackEnd_Developer
494
FrontEnd_Developer
495
FullStack_Developer
496
BackEnd_Developer
497
BackEnd_Developer
498
499
BackEnd_Developer
500
BackEnd_Developer
501
502
503
BackEnd_Developer
504
BackEnd_Developer
505
BackEnd_Developer
506
BackEnd_Developer
507
BackEnd_Developer
508
BackEnd_Developer
509
FrontEnd_Developer
510
511
BackEnd_Developer
512
BackEnd_Developer
BackEnd_Developer
513
BackEnd_Developer
514
Data Scientist
515
BackEnd_Developer
516
517
518
BackEnd_Developer
519
520
BackEnd_Developer
BackEnd_Developer
521
BackEnd_Developer
522
BackEnd_Developer
523
FrontEnd_Developer
524
BackEnd_Developer
525
526
BackEnd_Developer
BackEnd_Developer
527
528
529
530
531
532
BackEnd_Developer
533
UX_Designer
UX_Designer
UX_Designer
534
BackEnd_Developer
535
BackEnd_Developer
536
BackEnd_Developer
BackEnd_Developer
537
BackEnd_Developer
BackEnd_Developer
538
539
540
Data Scientist
Data Scientist
541
BackEnd_Developer
542
BackEnd_Developer
543
FullStack_Developer
544
BackEnd_Developer
545
546
BackEnd_Developer
BackEnd_Developer
547
BackEnd_Developer
548
BackEnd_Developer
549
550
BackEnd_Developer
BackEnd_Developer
551
552
553
554
555
556
BackEnd_Developer
BackEnd_Developer
557
BackEnd_Developer
BackEnd_Developer
558
Data Scientist
559
560
FullStack_Developer
561
BackEnd_Developer
BackEnd_Developer
562
BackEnd_Developer
BackEnd_Developer
563
BackEnd_Developer
BackEnd_Developer
564
Data Scientist
Data Scientist
565
FrontEnd_Developer
566
567
BackEnd_Developer
BackEnd_Developer
568
Data Scientist
569
BackEnd_Developer
570
BackEnd_Developer
571
BackEnd_Developer
572
BackEnd_Developer
573
574
BackEnd_Developer
BackEnd_Developer
575
BackEnd_Developer
576
577
578
579
580
BackEnd_Developer
581
BackEnd_Developer
582
BackEnd_Developer
583
Data Scientist
584
Data Scientist
585
586
587
BackEnd_Developer
588
BackEnd_Developer
589
BackEnd_Developer
BackEnd_Developer
590
591
BackEnd_Developer
592
593
BackEnd_Developer
BackEnd_Developer
594
BackEnd_Developer
595
BackEnd_Developer
BackEnd_Developer
596
BackEnd_Developer
597
598
599
BackEnd_Developer
BackEnd_Developer
600
BackEnd_Developer
601
BackEnd_Developer
602
603
BackEnd_Developer
604
605
BackEnd_Developer
BackEnd_Developer
606
607
608
BackEnd_Developer
609
BackEnd_Developer
BackEnd_Developer
610
611
FrontEnd_Developer
612
613
614
BackEnd_Developer
615
BackEnd_Developer
BackEnd_Developer
616
BackEnd_Developer
BackEnd_Developer
617
618
619
BackEnd_Developer
620
BackEnd_Developer
BackEnd_Developer
621
BackEnd_Developer
622
Data Scientist
623
624
BackEnd_Developer
625
626
BackEnd_Developer
BackEnd_Developer
627
BackEnd_Developer
BackEnd_Developer
628
629
BackEnd_Developer
630
631
BackEnd_Developer
632
Data Scientist
633
BackEnd_Developer
BackEnd_Developer
634
Data Scientist
Data Scientist
635
BackEnd_Developer
636
BackEnd_Developer
637
638
BackEnd_Developer
BackEnd_Developer
639
BackEnd_Developer
BackEnd_Developer
640
BackEnd_Developer
641
BackEnd_Developer
642
643
644
BackEnd_Developer
BackEnd_Developer
645
646
BackEnd_Developer
BackEnd_Developer
647
BackEnd_Developer
648
649
FrontEnd_Developer
650
651
BackEnd_Developer
652
BackEnd_Developer
653
BackEnd_Developer
BackEnd_Developer
654
BackEnd_Developer
655
BackEnd_Developer
BackEnd_Developer
656
657
658
BackEnd_Developer
659
BackEnd_Developer
660
BackEnd_Developer
BackEnd_Developer
661
BackEnd_Developer
662
BackEnd_Developer
663
FullStack_Developer
664
BackEnd_Developer
665
666
BackEnd_Developer
667
BackEnd_Developer
668
669
670
BackEnd_Developer
BackEnd_Developer
671
FullStack_Developer
672
673
BackEnd_Developer
BackEnd_Developer
674
675
BackEnd_Developer
676
BackEnd_Developer
677
Data Scientist
678
BackEnd_Developer
BackEnd_Developer
679
680
BackEnd_Developer
681
682
Data Scientist
Data Scientist
Data Scientist
683
FullStack_Developer
684
BackEnd_Developer
BackEnd_Developer
685
BackEnd_Developer
686
687
BackEnd_Developer
BackEnd_Developer
688
FrontEnd_Developer
689
FullStack_Developer
690
BackEnd_Developer
BackEnd_Developer
691
692
BackEnd_Developer
693
BackEnd_Developer
BackEnd_Developer
694
BackEnd_Developer
BackEnd_Developer
695
696
FrontEnd_Developer
697
BackEnd_Developer
698
FullStack_Developer
699
700
701
BackEnd_Developer
702
UX_Designer
UX_Designer
UX_Designer
703
704
BackEnd_Developer
705
BackEnd_Developer
706
FrontEnd_Developer
707
BackEnd_Developer
708
709
BackEnd_Developer
710
711
BackEnd_Developer
712
BackEnd_Developer
713
BackEnd_Developer
BackEnd_Developer
714
715
BackEnd_Developer
716
BackEnd_Developer
717
BackEnd_Developer
718
BackEnd_Developer
BackEnd_Developer
719
720
BackEnd_Developer
721
BackEnd_Developer
BackEnd_Developer
722
723
BackEnd_Developer
724
BackEnd_Developer
BackEnd_Developer
725
BackEnd_Developer
BackEnd_Developer
726
BackEnd_Developer
727
728
729
BackEnd_Developer
BackEnd_Developer
730
BackEnd_Developer
BackEnd_Developer
731
732
BackEnd_Developer
733
734
735
BackEnd_Developer
BackEnd_Developer
736
737
738
739
740
741
742
743
BackEnd_Developer
BackEnd_Developer
744
745
BackEnd_Developer
746
BackEnd_Developer
BackEnd_Developer
747
748
749
BackEnd_Developer
BackEnd_Developer
750
751
752
753
754
755
BackEnd_Developer
756
BackEnd_Developer
757
758
759
760
BackEnd_Developer
BackEnd_Developer
761
BackEnd_Developer
762
BackEnd_Developer
763
764

In [ ]:
data2 = data2[data2.Position.isin(positions)]
data2.head()

  Age Gender     City  ... Current Salary Salary one year ago Salary two years ago
0  43      M  München  ...          77000               76200                68000
1  33      F  München  ...          65000               55000                55000
2  32      M  München  ...          88000               73000                54000
3  25      M  München  ...          78000               55000                45000
4  39      M  München  ...          69000               60000                52000

[5 rows x 9 columns]

In [ ]:
data2['Position'].value_counts()

BackEnd_Developer      426
FrontEnd_Developer      44
Data Scientist          40
FullStack_Developer     24
UX_Designer              8
Name: Position, dtype: int64

In [ ]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 542 entries, 0 to 762
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   542 non-null    object
 1   Gender                542 non-null    object
 2   City                  542 non-null    object
 3   Position              542 non-null    object
 4   Years of experience   542 non-null    object
 5   Your level            542 non-null    object
 6   Current Salary        542 non-null    object
 7   Salary one year ago   542 non-null    object
 8   Salary two years ago  542 non-null    object
dtypes: object(9)
memory usage: 42.3+ KB

In [ ]:
data2.head(10)

   Age Gender     City  ... Current Salary Salary one year ago Salary two years ago
0   43      M  München  ...          77000               76200                68000
1   33      F  München  ...          65000               55000                55000
2   32      M  München  ...          88000               73000                54000
3   25      M  München  ...          78000               55000                45000
4   39      M  München  ...          69000               60000                52000
6           M   Berlin  ...          65000               50000                50000
7   36      F  München  ...         109000              105000                97000
8   32      M   Berlin  ...          65000               58000                50000
9   30      M  München  ...          60000               48000                42000
10  40      M   Berlin  ...          70000               57500                54000

[10 rows x 9 columns]

In [ ]:
data2['Years of experience'].value_counts()

10.0    76
5.0     65
8.0     50
6.0     45
7.0     41
4.0     34
12.0    34
3.0     31
9.0     29
11.0    25
15.0    24
2.0     16
1.0     12
13.0    10
20.0     8
14.0     7
18.0     7
2.5      5
         5
16.0     3
17.0     3
1.5      2
30.0     2
0.5      1
7.5      1
19.0     1
0.0      1
25.0     1
4.5      1
38.0     1
21.0     1
Name: Years of experience, dtype: int64

In [ ]:
data2['Current Salary'].unique()

array([77000.0, 65000.0, 88000.0, 78000.0, 69000.0, 109000.0, 60000.0,
       70000.0, 55000.0, 94500.0, 46000.0, 68000.0, 62500.0, 53000.0,
       52000.0, 72000.0, 80000.0, 66000.0, 75800.0, 84000.0, 58000.0,
       113000.0, 75000.0, 57000.0, 50000.0, 71000.0, 56000.0, 30000.0,
       45000.0, 40000.0, 54000.0, 48000.0, 61000.0, 87000.0, 85000.0,
       67000.0, 62000.0, 83000.0, 73000.0, 78600.0, 43000.0, 107000.0,
       64000.0, 95000.0, 42000.0, 74000.0, 72500.0, 102000.0, 55800.0,
       63000.0, 115000.0, 44000.0, 90000.0, 92000.0, 125000.0, 76000.0,
       48500.0, 49000.0, 70500.0, 86000.0, 35000.0, 96000.0, 73300.0,
       73500.0, 130000.0, 47500.0, 81000.0, 53500.0, 87975.0, '',
       140000.0, 31500.0, 120000.0, 112000.0, 100000.0, 59000.0, 47000.0,
       68400.0, 67200.0, 111000.0, 38000.0, 24000.0, 39600.0, 64400.0,
       57800.0, 20400.0, 47300.0, 23162.0, 17532.0, 34000.0, 19200.0,
       51750.0, 38400.0, 51000.0, 69600.0, 58500.0, 47250.0, 64500.0,
       122000.0, 39150.0, 40800.0, 67500.0, 87500.0, 37000.0, 103000.0,
       51600.0, 93000.0, 27000.0, 33000.0, 80400.0, 13000.0, 71500.0],
      dtype=object)

## Remove rows that have empty values in Salary One year ago or Salary two years ago for visulization 2

In [ ]:
data2['Salary two years ago'].unique()

array([68000.0, 55000.0, 54000.0, 45000.0, 52000.0, 50000.0, 97000.0,
       42000.0, 48000.0, '', 34000.0, 86300.0, 44000.0, 63000.0, 40000.0,
       30000.0, 84000.0, 60000.0, 72000.0, 67000.0, 76000.0, 66000.0,
       56000.0, 42500.0, 65000.0, 27000.0, 10001.0, 70000.0, 16000.0,
       57000.0, 43000.0, 58000.0, 12000.0, 69000.0, 75000.0, 32000.0,
       18000.0, 13000.0, 36000.0, 38000.0, 85000.0, 90000.0, 51000.0,
       60600.0, 80000.0, 64000.0, 49000.0, 47000.0, 62000.0, 15000.0,
       61000.0, 20000.0, 120000.0, 26000.0, 22000.0, 53000.0, 100000.0,
       105000.0, 28000.0, 95000.0, 16500.0, 20400.0, 95500.0, 74000.0,
       24000.0, 10800.0, 37050.0, 10500.0, 115000.0, 91000.0, 102000.0,
       27950.0, 37000.0, 98000.0, 44800.0, 39000.0, 41000.0], dtype=object)

In [ ]:
data2.loc[data2['Salary two years ago'] == '']

    Age Gender  ... Salary one year ago Salary two years ago
12   31      F  ...
17   24      M  ...               47000
26   39      M  ...               74000
28   28      M  ...
29   31      M  ...
..   ..    ...  ...                 ...                  ...
724  28      M  ...
743  40      M  ...
745  37      M  ...               53000
749  29      M  ...
755  30      M  ...               50000

[218 rows x 9 columns]

In [ ]:
data3=data2[data2['Salary two years ago'] != '']

In [ ]:
data3=data2[data2['Salary one year ago'] != '']

In [ ]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 423 entries, 0 to 762
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   423 non-null    object
 1   Gender                423 non-null    object
 2   City                  423 non-null    object
 3   Position              423 non-null    object
 4   Years of experience   423 non-null    object
 5   Your level            423 non-null    object
 6   Current Salary        423 non-null    object
 7   Salary one year ago   423 non-null    object
 8   Salary two years ago  423 non-null    object
dtypes: object(9)
memory usage: 33.0+ KB

In [ ]:
data3.loc[(data3['Salary one year ago'] == '') ]

Empty DataFrame
Columns: [Age, Gender, City, Position, Years of experience, Your level, Current Salary, Salary one year ago, Salary two years ago]
Index: []

In [ ]:
data3.loc[(data3['Salary two years ago'] == '')]

    Age Gender     City  ... Current Salary Salary one year ago Salary two years ago
17   24      M  Hamburg  ...          60000               47000
26   39      M  München  ...          77000               74000
30   39      M   Berlin  ...          75800               66000
36   31      M  München  ...          70000               60000
44   24      F  München  ...          57000               45000
..   ..    ...      ...  ...            ...                 ...                  ...
705  42      M   Berlin  ...          93000               65000
707  26      M   Berlin  ...          33000               30000
711  31      F   Berlin  ...          42000               42000
745  37      M     Köln  ...          53000               53000
755  30      M  München  ...          75000               50000

[101 rows x 9 columns]

### Save data for first visualization

In [ ]:
data2.to_csv('./visOne.csv')

In [ ]:
data3.to_csv('./visTwo.csv')